/* #javascript {
    line-height: 1.5em;
    list-style-image: url(https://img.icons8.com/material-outlined/24/000000/js.png);
}

#html {
    line-height: 1.5em;
    list-style-image: url(https://img.icons8.com/material-outlined/24/000000/html.png);
}

#css {
    line-height: 1.5em;
    list-style-image: url(https://img.icons8.com/material-outlined/24/000000/css.png);
} */